.main-container{
    margin-top: 50px;
}

.main-container .inner-container{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1px;
    width: 60%;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.main-container .inner-container .container{
    padding: 30px;
    border-style: solid;
    border-width: 0.1px;
    width: 80%;
    text-align: center;
}

.main-container .inner-container .proceed{
    margin-bottom: 5px;
    width: 88%;
}

.main-container .inner-container .proceed input[type="submit"]{
	width: 24%;
	float: right;
	background-color: darkorange;
	color: white;
	padding:3px;
	border:none;
}

.main-container .inner-container .proceed input[type="submit"]:hover{
	cursor: pointer;
	background-color: gold;
	color: black;
	transition-duration: 0.4s;
}

.main-container .inner-container .proceed input[type="text"]{
	border:none;
	padding:3px;
    float: left;
    width: 73%;
}

.main-container .inner-container .upload label input{
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
}

.main-container .inner-container .upload label {
    padding-top: 2px;
    padding-bottom: 2px;
    border:none;
    width:88%;
    display:block;
    margin-bottom: 5px;
    background-color: darkorange;
    color: white;
}

.main-container .inner-container .upload label:hover {
    background-color: gold;
	color:black;
	transition-duration: 0.4s;
	cursor: pointer;
}